In [1]:
import pandas as pd

In [2]:
pd.read_excel('Desktop\datanew.xlsx')

    name batch  roll address
0  ankur   py1     1   gumla
1   alok   ja1     2  ranchi
2    raj    c1     3  ranchi

In [3]:
pd.read_csv('Desktop\datanew.csv')

    name batch  roll address
0  ankur   py1     1   gumla
1   alok   ja1     2  ranchi
2    raj    c1     3  ranchi

In [5]:
pd.read_csv(r'Desktop\test.tsv')

  name\tage\tsex\tlocation
0      ankur\t21\tm\tgumla
1      alok\t30\tm\tranchi
2           raj\t12\tm\trj
3       ram\t28\tf\tnagpur